allow hal_memtrack sysfs_kgsl:dir search;
allow hal_memtrack sysfs_kgsl:file r_file_perms;

binder_call(hal_memtrack_client, hal_memtrack_server)

hal_attribute_hwservice(hal_memtrack, hal_memtrack_hwservice)
