get_prop(system_app, vendor_default_prop)
allow system_app vendor_default_prop:file { getattr open read };
allow system_app vendor_default_prop:file {map};
allow system_app sysfs_kgsl:dir search;
allow system_app sysfs_kgsl:file r_file_perms;
allow system_app apexd_prop:file { map };
allow system_app apk_data_file:file write;
allow system_app app_data_file:dir { search open };
allow system_app app_data_file:file open;
get_prop(system_app, vendor_camera_prop);
